<div class="container">
  <div class="row">
      <div class="col-md-4">
      <h3><%= @player.name %><div class="right-round-image-50"><%= image_tag(@player.avatar.url) %></div></h3><p><%= back_to(:players) %></p>
    
      <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Overview of players statistics</div>

          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item">Games played: <span class="badge"><%= @player_results.count('player_id') %></span></li>
            <li class="list-group-item">Games won: <span class="badge"><%= @player.count_games_won %></span></li>
            <li class="list-group-item">Games lost: <span class="badge"><%= @player.count_games_lost %></span></li>
            <li class="list-group-item">Points: <span class="badge"><%= @player_results.sum(:game_points) %></span></li>
            <li class="list-group-item">Legs pro: <span class="badge"><%= @player_results.sum(:legs_pro) %></span></li>
            <li class="list-group-item">Legs contra: <span class="badge"><%= @player_results.sum(:legs_contra) %></span></li>
            <li class="list-group-item">Average: <span class="badge"><%= @player_results.average(:average).round(1) %></span></li>
            <li class="list-group-item">Check-out: <span class="badge"><%= @player_results.average(:co).round(1) %> %</span></li>
            <li class="list-group-item">High Score:
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= (@player_results.maximum(:hs)) * 100 / 180  %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em; width: <%= "#{(@player_results.maximum(:hs)) * 100 / 180}%" %>;">
                <%= @player_results.maximum(:hs) %>
              </div>
            </div>
            </li>
          </ul>
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-4">
    <h3>Games played</h3>
      <% @games.each do |game| %>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Wedstrijd gespeeld op: <%= link_to game.game_date, game %></li>
        <li class="list-group-item"><%= game.home_player.name %></li>
        <li class="list-group-item"><%= game.away_player.name %></li>
      </ul> 
      <% end %>
    </div>
  </div>
</div>


